@{
    ViewData["Title"] = "Home Page";
}
@using TP8.Models;

<!--SE LO PASA A LA ACCION DEL controller QUE LO VA A MANDAR A LA VIEW-->
<h1 class="Titulo Consigna">Recetas</h1>
<center><img class="Recetas" src="/curso-alta-cocina.jpg" >


<h3 class="Titulo2 Consignados">Ingrese los datos pedidos a continuación para agregar una receta</h></center>
<div >
<form class="Consignados" action='@Url.Action("GuardarReceta", "Home")' method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingresen el nombre de la receta</label>
    <input type="text" name="Nombre" class="form-control" id="exampleInputname1" required>
  </div>


  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingrese la fecha</label>
    <input type="datetime" name="FechaCreacion" class="form-control" id="exampleInputname1" required>
  </div>

   <input class="form-group" type="file" name="Imagen" required>

<div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingresen el nombre del creador</label>
    <input type="text" name="NombreCreador" class="form-control" id="exampleInputname1" required>
  </div>

  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingresen la puntuacion de la receta</label>
    <input type="number" name="Likes" class="form-control" id="exampleInputname1" required>
  </div>
  <button  type="submit" class="btn btn-primary">Guardar Receta</button>
</form>
</div>

<h1 class= "Titulo Consignados">Ingredientes Disponibles</h1>
 <div>
 
    <table class="table-stripped table-bordered colorTabla">
      
      
  <thead class="Consignados colorTabla">
   <tr class="Consignados">
      <th scope="col">Ingrediente:</th>
      <th scope="col">CantNecesaria:</th>
      <th scope="col">Calorias:</th>
     <th scope="col">Foto:</th>
    </tr>
  </thead>
  @foreach (Ingredientes ing in @ViewBag.Ingredientes)
  {
  <tbody class="tamano">
    <tr>
      <th scope="row">@ing.Nombre</th>
      <td>@ing.CantNecesaria</td>
      <td>@ing.Calorias</td>
      <td><img src="@ing.Imagen"></td>
    </tr>
  </tbody>
  }
  
  </table>
   <a type="button" class="fill vacio LadoTabla" href='@Url.Action("AgregarIngrediente", "Home")'>Agregar ingredientes</a>

</div>