@using TP8.Models;

<center><h1>RECETAS USUARIOS</h1></center>

@foreach (Recetas r in @ViewBag.Receta)
{
  
<center><div class="row MisRecetas">
  <div class="col "  >
    <div class="card Consignados ">
      <div class="card-body">
        <h5 class="card-title Titulo2">@r.Nombre</h5>

          <button onclick="$('#ing_@r.ID_Recetas').toggle()">Ver Ingredientes</button>
          <div id="ing_@r.ID_Recetas" class="ingredientes">
          @foreach (Todo irc in @ViewBag.Conjunto)
          {
            @if (r.ID_Recetas == irc.ID_Recetas)
            {
              <p class="card-text">@irc.NombreIngrediente</p>
            }
        }
        </div>
        
        
        <img class="imagen" src="/@r.Imagen">
        <a href='@Url.Action("EliminarReceta","Home",new{ ID=@r.ID_Recetas})' class="btn btn-danger boton">Eliminar Receta</a>
      </div>
    </div>
  </div>
  </div></center>
}


