@using TP8.Models;

<center><h1>RECETAS USUARIOS</h1></center>

@foreach (Recetas r in @ViewBag.Receta)
{
  
<div class="row MisRecetas">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title NombreReceta">@r.Nombre</h5>
        @foreach (Ingredientes irc in @ViewBag.Conjunto)
        {
          <p class="card-text">@irc.Nombre</p>
        }
        
        <p class="card-text">@r.ID_Recetas</p>
        <img class="imagen" src="@r.Imagen">
        <a href='@Url.Action("EliminarReceta","Home",new{ ID=@r.ID_Recetas})' class="btn btn-danger">Eliminar Receta</a>
      </div>
    </div>
  </div>
  </div>
}